@font-face {
  font-family: 'mx';  /* Project id 2522138 */
  src: url('//at.alicdn.com/t/font_2522138_b2rbiirhe5s.eot?t=1621245556122'); /* IE9 */
  src: url('//at.alicdn.com/t/font_2522138_b2rbiirhe5s.eot?t=1621245556122#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/font_2522138_b2rbiirhe5s.woff?t=1621245556122') format('woff'),
       url('//at.alicdn.com/t/font_2522138_b2rbiirhe5s.ttf?t=1621245556122') format('truetype'),
       url('//at.alicdn.com/t/font_2522138_b2rbiirhe5s.svg?t=1621245556122#mx') format('svg');
}
 
[class*="mx-"] {
	font-family: "mx";
	font-weight: bold;
	font-size: inherit;
	font-style: normal;
}

.mx-printer:before {
	content: "\e61d";
}

.mx-balance:before {
	content: "\e612";
}

.mx-sphygmomanometer{
	content: "\e614";
}